# DATA ANALYSIS PROJECT

## INDIAN START-UPS FUNDING. INSIGHTS AND TRENDS FROM 2018 TO 2021

### Project Description
This data analysis project focuses on the funding received by start-ups in India from 2018 to 2021. <br><br>The objective is to gain insights into the ecosystem and propose the best course of action for our team's venture. <br><br>By analyzing the data on funding amounts, start-up details, and investor information, we aim to unearth prevailing patterns and gain insights about the opportunities in India's start-up ecosystem to inform decision-making.

### Taking Preview of the Data at Hand

Data from four different sources were gathered for this project. Two from Microsoft SQL Server, one from onedrive and the last one from a github repo.

We set the van off with loading the needed libraries.

In [62]:
# Load some libraries

import pyodbc
from dotenv import dotenv_values
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.impute import SimpleImputer
import re
import warnings

warnings.filterwarnings('ignore')

# Display all columns and rows
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Convert amounts from scientific format
pd.set_option('display.float_format', '{:.1f}'.format)

In [63]:
# # Load environment variables from .env file into a dictionary

# env_var = dotenv_values('.env')

# # Get the values for the credentials you set in the '.env' file

# database = env_var.get('DATABASE')
# username = env_var.get('USERNAME')
# password = env_var.get('PASSWORD')
# server = env_var.get('SERVER')


# connection_string = f"DRIVER={{SQL Server}}; SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [64]:
# Get the values for the database credentials set in the '.env' file
env_var = {key.upper(): value for key, value in dotenv_values('.env').items()}

# Unpack the values from the dictionary
database, username, password, server = (env_var.get(key) for key in ['DATABASE', 'USERNAME', 'PASSWORD', 'SERVER'])

connection_string = f"DRIVER={{SQL Server}}; SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [65]:
# Connect to database

connection = pyodbc.connect(connection_string)

Success! Now, we read the data using sql SELECT statement and pandas' read_sql.

In [66]:
# Loading the data for 2020

query2020 = "select * from dbo.LP1_startup_funding2020"

data2020 = pd.read_sql(query2020, connection)

In [67]:
# Loading the data for 2021

query2021 = "select * from dbo.LP1_startup_funding2021"

data2021 = pd.read_sql(query2021, connection)

Perfect! We hop onto the other datasets obtained in '.csv' format

In [68]:
# Loading data for 2018 & 2019


data2018 = pd.read_csv('startup_funding2018.csv')
data2019 = pd.read_csv('startup_funding2019.csv')

### Data Inspection

### 2021 Data

In [69]:
data2021.head(10)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed
5,Urban Company,2014.0,New Delhi,Home services,Urban Company (Formerly UrbanClap) is a home a...,"Abhiraj Singh Bhal, Raghav Chandra, Varun Khaitan",Vy Capital,"$188,000,000",None
6,Comofi Medtech,2018.0,Bangalore,HealthTech,Comofi Medtech is a healthcare robotics startup.,Gururaj KB,"CIIE.CO, KIIT-TBI","$200,000",None
7,Qube Health,2016.0,Mumbai,HealthTech,India's Most Respected Workplace Healthcare Ma...,Gagan Kapur,Inflection Point Ventures,Undisclosed,Pre-series A
8,Vitra.ai,2020.0,Bangalore,Tech Startup,Vitra.ai is an AI-based video translation plat...,Akash Nidhi PS,Inflexor Ventures,Undisclosed,None
9,Taikee,2010.0,Mumbai,E-commerce,"Taikee is the ISO-certified, B2B e-commerce pl...","Nidhi Ramachandran, Sachin Chhabra",None,"$1,000,000",None

### Issues arising from data2021:

* Founded column is a float. It has to be a date

* Some Amounts have $undisclosed, Undisclosed and undisclosed. We may treat them as missing values

* The Amounts and Stage for FanPlay company are interchanged

* At index 242, 256, 257, and 545, the amount appears at the investor’s column and then stage at the amount column

* Little Leap campany at index 538 has Ah! Ventures(investors) instead of amount and then amount at stage column. Also, ‘Holistic Development Programs for children in …; should be   replaced with Vishal Gupta as founder.

* BHyve company has part of ‘what_it_does’ at founders cl then founders at investor cl and investors at amount col ……. It also had investor’s name as ITO Angel Network instead of JITO Angel Network

* Some amounts are separated by ‘,’ some too have ‘$$’ preceding them and some only ‘$’ as amount…this is for EventBeep, MPL

* Amount for Godamwale is misspelt as 1000000\t#REF! instead of 1000000 and is at investor col with stage rather taking its place. Also, the investor is **Capt. Anand Aryamane**

* for index 1100-Sochcast company, Heaquarter is replaced with ‘Online Media\t#REF!’ and sector
* There are some duplicates

### Resolution

* Delete duplicates
* Delete rows with anomalous values
* Impute with right values from credible sources where such values are mispelt, omitted and wrongly placed
* Convert columns to right data types
* Standardise the 'Stage' column for good analysis by renaming or grouping

In [70]:
# Confirm duplicated records

data2021.duplicated().sum()

19

Let's take a look, first.

In [71]:
data2021[data2021.duplicated()].head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
107,Curefoods,2020.0,Bangalore,Food & Beverages,Healthy & nutritious foods and cold pressed ju...,Ankit Nagori,"Iron Pillar, Nordstar, Binny Bansal",$13000000,None
109,Bewakoof,2012.0,Mumbai,Apparel & Fashion,Bewakoof is a lifestyle fashion brand that mak...,Prabhkiran Singh,InvestCorp,$8000000,None
111,FanPlay,2020.0,Computer Games,Computer Games,A real money game app specializing in trivia g...,YC W21,"Pritesh Kumar, Bharat Gupta",Upsparks,$1200000
117,Advantage Club,2014.0,Mumbai,HRTech,Advantage Club is India's largest employee eng...,"Sourabh Deorah, Smiti Bhatt Deorah","Y Combinator, Broom Ventures, Kunal Shah",$1700000,None
119,Ruptok,2020.0,New Delhi,FinTech,Ruptok fintech Pvt. Ltd. is an online gold loa...,Ankur Gupta,Eclear Leasing,$1000000,None

Alright! They have to be on the go...!

In [72]:
# Drop the duplicates

data2021 = data2021.drop_duplicates()

Checking.......

In [73]:
# Check data shape before deletion
data2021.shape

(1190, 9)

Success!

### Dealing with anomalous rows

....taking a look first at the unique values of each column, <br> then take care of them


### Company_Brand column

In [74]:
# Get unique values of the comapany_brand column

print(data2021['Company_Brand'].unique().tolist())

['Unbox Robotics', 'upGrad', 'Lead School', 'Bizongo', 'FypMoney', 'Urban Company', 'Comofi Medtech', 'Qube Health', 'Vitra.ai', 'Taikee', 'Fitterfly', 'FreeStand', 'MyDentalPlan', 'Freyr Energy', 'DealShare', 'Tessolve', 'Smart Joules', 'ORAI', 'ixamBee', 'CoinSwitch Kuber', 'Razorpay', 'Uable', 'ZFW Hospitality', 'Optimized Electrotech', 'Northern Arc', 'Chara', 'Sirona Hygiene', 'Pristyn Care', 'TrulyMadly', 'Vidyakul', 'Jambox Games', 'Miko', 'SuperK', 'TagZ Foods', 'Fuel Buddy', 'M1xchange', 'Spintly', 'EF Polymer', 'boAt', 'TruNativ', 'iBus', 'Puresh Daily', 'LearnVern', 'LimeChat', 'Dybo', 'moEVing', 'WeWork India', 'Solethreads', 'Beldara', 'CredFlow', 'Do Your Thng', 'Oye Rickshaw', 'Legitquest', 'Swiggy', 'AntWak', 'PlayShifu', 'Pitstop', 'Lendingkart', 'CRED', 'Karnival', 'PharmEasy', 'WESS', 'ShopSe', 'Fantasy Akhada', 'Rage Coffee', 'Groww', 'Avanti Finance', 'Kudos', 'OfBusiness', 'Superpro.ai', 'ShareChat', 'WiT-ACE', 'Spinny', 'Alteria Capital', 'Safexpay', 'PumPumPum', 'Speciale Invest', 'Eunimart', 'Meesho', 'CareerLabs', 'Zoko', 'GetWork', 'Easebuzz', 'Chingari', 'DusMinute', 'Onsurity', 'Karbon Card', 'Factors.AI', 'Elevar', 'Studio Sirah', 'OTO Capital', '1Bridge', 'Skeps', 'Curefoods', 'TartanSense', 'Bewakoof', 'Kirana247', 'FanPlay', 'NeoDocs', 'IsGoingOnline', 'Camp K12', 'Elda Health', 'Sporjo', 'Advantage Club', 'SuperGaming', 'Ruptok', 'O’ Be Cocktails', 'Zetwerk', 'AppsForBharat', 'Imagimake', 'Khatabook', 'Smytten', 'Syook', 'Akudo', 'NOTO', 'Lumiq', 'CommerceUp', 'Breathe Well-being', 'Hike', 'House of Kieraya', 'goEgoNetwork', 'Probus', 'DrinkPrime', 'Smart Express', 'Smallcase', 'SATYA MicroCapital', 'Snack Amor', 'Postman', 'Hashnode', 'RACEnergy', 'BharatPe', 'Gyde', 'BatteryPool', 'AgNext', 'Xpresslane', 'LoanKuber', 'OYO', 'Rapido', 'YPay', 'SleepyCat', 'Ultrahuman', 'UpScalio', 'Yellow Class', 'Yojak', 'CreatorStack', 'Expertrons', 'Klub', 'Navia Life Care', '1K Kirana Bazaar', 'Zupee', 'Locale.ai', 'VerSe Innovation', 'MetroRide', 'Whiz League', 'Hash', 'Unacademy', 'Log 9 Materials', 'FlashPrep', 'Kenko Health', 'Wiz Freight', 'Credgenics', 'BlueLearn', 'NimbleBox.ai', 'Pickrr', 'Stellaris Venture Partners', 'Grip Invest', 'Heads Up For Tails', 'Blue Tokai Coffee Roasters', 'Neeman', 'GoSats', 'StockGro', 'Khabri', 'Celcius', 'AyuRythm', 'Enguru', 'Rocket Skills', 'RenewBuy', 'Faarms', 'UrbanMatrix Technologies', 'Jupiter', 'Pixuate', 'Playo', 'Toothsi', 'Soothe Healthcare', 'Goodmeetings', 'Apnaklub', 'ChefKart', 'Fashinza', 'Fabheads', 'QuickShift', 'StackBOX', 'MedPrime Technologies', 'infra.market', 'CollegeDekho', 'BOX8', 'Simpl', '8i Ventures', 'PayGlocal', 'Curefit', 'Pocket FM', 'CHARGE+ZONE', 'PlanetSpark', 'LenDenClub', 'CometChat', 'AgroStar', 'Probus Insurance', 'MoEngage', 'CloudSEK', 'Exponent Energy', 'Trinkerr', 'Zorro', 'Ultraviolette', 'NephroPlus', 'Unremot', 'FanAnywhere', 'PingoLearn', 'Spry', 'Enmovil', 'ASQI Advisors', 'Insurance Samadhan', 'Evenflow Brands', 'MasterChow', 'Fullife Healthcare', 'MoEVing', 'Plix', 'Uni Cards', 'Practically', 'Nestasia', 'Vedic Cosmeceuticals', 'Juspay', 'TranZact', 'Atomberg', 'Ola', 'Mohalla Tech', 'Stack', 'PropReturns', 'WeSkill', 'Fitpage', 'ShopMyLooks', 'ByteLearn', 'Dista', 'FRND', 'Metadome', 'Keka HR', 'The Gourmet Jar', 'Flo Mobility', 'Yodacart', 'TheHouseMonk', 'Zepto', 'Jumbotail', 'Captain Fresh', 'Deciwood', 'Kohbee', 'Perfora', 'Ninety One', 'Gobillion', 'RIPPLR', 'SK Finance', 'Eggoz', 'Fabriclore', 'Veefin', 'Verandah', 'Karkinos Healthcare', 'OWO Technologies', 'EsportsXO', 'Zorgers', 'BangDB', 'Neobank Jupiter', 'Skippi Ice Pops', 'Glii', 'GlobalBees', 'Mamaearth', 'SecureNow', 'Vendor Infra', 'Hakuna Matata', 'OneCard', 'Doubtnut', 'Hubhopper', 'Infra.Market', 'Battery Smart', 'Kutuki', 'Onelife', 'Eupheus', 'KreditBee', 'Pencil', 'Aisle', 'Marquee Equity', 'UptimeAI', 'WizKlub', 'Zolve', 'MediBuddy', 'Pariksha', 'Express Stores', 'Avataar Ventures', 'Zingbus', 'Phable', 'Codingal', 'Supply6', 'Swajal', 'Filo', 'Method & Madness', 'EduFund', 'Pepperfry', 'Zingavita', 'Hypd Store', 'Supersourcing', 'AutomataPi', 'Newton School', 'TenderCuts', 'Siply', 'SarvaGram', 'Unlu', 'GlobalFair', 'Eduvanz', 'OwO', 'Progcap', 'ABL Workspaces', 'Nazara Technologies', 'Scentials', 'SplashLearn', 'Maya', 'GoTo', 'Remedico', 'PrepBytes', 'YourPhysio', 'Aviom Housing Finance', 'Hemp Horizons', 'MPL', 'Koo', 'InnerHour', 'Origo', 'ExMyB', 'Elucidata', 'Saveo', 'Qin1', 'DotPe', 'Taskmo', 'MasterMentors', 'KIKO TV', 'Quali55Care', 'RevFin', 'SeeVC', 'Junio', 'VenWiz', 'Vista Rooms', 'Makers Hive', 'Headfone', 'Zouk', 'GrowFix', 'Bombay Shaving Company', 'Dunzo', 'BeyondSkool', 'Mindler', 'Turnip', 'Furlenco', 'Inficold', 'KIWI', 'Digit Insurance', 'MFine', 'Udayy', 'Lohum', 'Darwinbox', 'DeHaat', 'Samunnati', 'Biconomy', 'True Elements', 'Nao Spirits & Beverages Pvt Ltd', 'PurpleTutor', 'Karkhana.io', 'SSA Finserv', 'Paperfly', 'ReadyAssist', 'Chalo', 'Udaan', 'Ergos', 'Bolkar', 'Wright Research', 'Knocksense', 'Phi Commerce', 'Oneiric Gaming', 'Finsall', 'Legalwiz.in', 'Cred', 'Devic Earth', 'Zerone', 'Pocket Aces', 'Kyt', 'iMumz', 'CropIn', 'Vanity Wagon', 'Oyo', 'Agri10x', 'BlackSoil', 'HobSpace', 'DcodeAI', 'Biocon Biologics', 'KiranaKart', 'Meddo', 'SP Robotic Works', '3SC', 'Chai Waale', 'Minimalist', 'Fixcraft', 'Slice', '90+ My Tuition App', 'Wasabi', 'Strata', 'Ourbetterplanet', 'Murf.ai', 'JetSynthesys', 'MYFITNESS', 'I am Love', 'MyGlamm', 'Gumlet', 'Eloelo', 'Edukemy', 'NewsReach', 'Pencilton', 'Bandhoo', 'ixigo', 'The Whole Truth', 'Insane AI', 'Learn4o Technology', 'Droom', 'Skymet', 'Go Swift', 'G.O.A.T', 'Keeros', 'ReDesyn', 'Inspacco', 'Knorish', 'Dozee', 'BlackBuck', 'Mailmodo', 'SuperBeings', 'NirogStreet', 'Hyreo', 'GODI Energy', 'Even', 'Otipy', 'Lenskart', 'Eka.care', 'Braingroom', 'Edvizo', 'Credenc', 'Mynvax', 'RiseBird', 'Uvi Health', 'Vegrow', 'Automovill', 'NFTically', 'HealthifyMe', 'GalaxyCard', 'Bella Vita Organic', 'SmartCoin', 'CareerNinja', 'MYSUN', 'Sea6 Energy', 'Beco', 'OneCode', 'MedPay', 'Inshorts', 'Digantara', 'Aqgromalin', 'Square Yards', 'Slang Labs', 'NirogGyan', 'Ola Electric', 'Bikry app', 'Oliveboard', 'Little Leap', 'Trell', 'Kredent', 'EasyAspataal', 'SMOOR', 'Pankhuri', 'Arcana', 'AdmitKard', 'UrbanKisaan', 'Aquaconnect', 'Vah Vah!', 'LetsDressUp', 'Sapio Analytics', 'BHyve', 'Indi Energy', 'The Ayurveda Co', 'Pratilipi', 'Ati Motors', 'peAR', 'Gourmet Garden', 'The Sleep Company', 'TyrePlex', 'ION Energy', 'FRAAZO', 'Licious', 'WinZO', 'Skylark Drones', 'Leegality', 'Arcatron Mobility', 'TWID', 'PeakPerformer', 'MyMobiForce', 'Pine Labs', 'Genworks Health', 'Pocketly', 'Neverinstall', 'CoRover', 'BeatO', 'Earth Rhythm', 'Fountain9', 'Rockclimber', 'SpEd@home', 'CanPe', 'Green Soul', 'Shiprocket', 'Teachmint', 'Vahak', 'goSTOPS', 'Codedamn', 'Biocraft Innovation Technology', 'Powerplay', 'Accio Robotics', 'Delhivery', 'Avishkaar', 'Jobsgaar', 'Almo', 'GalaxEye', 'Good Health Clinic', 'MYBYK', 'Locus', 'Crejo.Fun', 'Bambinos', 'Spardha', 'Onelife Nutriscience', 'Flatheads', 'Fable Fintech', 'Holisol', 'Now&Me', 'Fyllo', 'Cora Health', 'Blaer Motors', 'Swiflearn', 'Cashfree', 'QuickSell', 'Truemeds', 'Candes', 'F5', 'Capital Float', 'IntelleWings', 'Shyplite', 'Refyne', 'Greenjoules', 'MentorKart', 'Leverage Edu', 'Kale Logistics', 'CustomerGlu', 'Cell Propulsion', 'Wellbeing Nutrition', 'Pee Safe', 'Chqbook', 'SimpliContract', 'Dropshop', "BYJU'S", 'Power Gummies', 'Convosight', 'Wherehouse.io', 'Flexmoney', 'Fampay', 'Apna', 'XYXX Apparels', 'WaterScience', 'BrowserStack', 'Vital', 'Juicy chemistry', 'Samaaro', 'MSMEx', 'saarthi.ai', 'Kutumb', 'Superplum', 'Upside AI', 'PazCare', 'Answer Genomics', 'Skillmatics', 'Bimaplan', 'Bueno Finance', 'CityMall', 'BYJU’S', 'India Quotient', 'The Switch Fix', 'Anvidha Technologies', 'DigiSparsh', 'CoffeeMug.ai', 'Pathfndr.io', 'BigLeap', 'Kazam', 'MYRE Capital', 'BimaPe', 'MicroDegree', 'Saarthi Pedagogy', 'Synapsica', 'Kwik Foods', 'Plutomen', 'GoMechanic', 'Grinntech', 'Nobel Hygiene', 'Green Cure', 'Classplus', 'WINDO', 'ApnaKlub', 'LegalPay', 'Lavado', 'Navars', 'GoBolt', 'Loco', 'Auric', 'Edmingle', 'Humit', 'Airblack', 'NIRAMAI', 'Intervue', 'Nestroots', 'Detect Technologies', 'CredR', 'Fourth Partner Energy', 'TABLT', 'Hesa', 'Powerhouse91', 'Nalanda Learning', 'Chargeup', 'Knackit', 'Treebo Hotels', 'Raptee Energy', 'Supertails', 'SkilloVilla', 'Cancer Clinics', 'Velocity', 'Happy Jars', 'ExtraaEdge', 'Zotalabs', 'Voiro', 'Dream Sports', 'Safex Chemicals', 'Instoried', 'Rupifi', 'Moneyboxx', 'Janani', 'ReshaMandi', 'Homingos', 'Anar Business Community', 'Five Star Finance', 'Settlrs', 'Annapurna Finance', 'HealthPlix', 'Masai School', 'IndiaLends', 'Stelis Biopharma', 'Tilt', 'NeoDove', 'Zaara Biotech', 'True Balance', 'Muvin', 'Purplle', 'FloBiz', 'Jeevam Health', 'NewLink Group', 'OZiva', 'Blive', 'Euler Motors', 'Pixxel', 'Prescinto', 'Chirrup', 'Policybazaar', 'Livve Homes', 'Juicy Chemistry', 'Svasti Microfinance', 'Nexprt', 'Wysa', 'Ankur capital', 'Indifi', 'Firmway', 'Say Cheese', 'Indic Inspirations', 'YAP', 'Leap Finance', 'BlackSoil NBFC', 'Max Healthcare', '4baseCare', 'Ezstays', 'Stylework', 'Kinara Capital', 'Riskcovry', 'NODWIN', 'Quizizz', 'Ecom Express', 'Turtlemint', 'Qoohoo', 'IGL', 'AMPM', 'The ePlane', 'Cashify', 'Bijnis', 'Questt', 'Blume Ventures', 'KoineArth', 'ImaginXP', 'Virohan', 'Apna.co', 'ideaForge', 'Clairco', 'ParkSmart', 'BankSathi', 'Spark Studio', 'BlissClub', 'BricSpaces', 'ANSR', 'Keito', 'Reccy Adventures', 'Magenta EV', 'Agnikul', 'Glamplus', 'Tekie', 'Asirvad Microfinance', 'Avalon Labs', 'Betterhalf.ai', 'Rezo.ai', 'Mentoria', 'Cuvette Tech', 'Clensta', 'FarMart', 'Kodo Card', 'Polygon', 'Get My Parking', 'Cellestial', 'FanCode', 'Jai Kisan', 'Plum', 'ThatMate', 'Klassroom', 'Convin', 'Mensa Brands', 'Disruptium', 'MedTel Healthcare', 'Pickright Technologies', 'Ingenium', 'RuleZero', 'Rubix Data Sciences', 'Locobuzz', 'We Founder Circle', 'Haqdarshak', 'Enthu.ai', 'Myelin Foundry', 'SuperOps.ai', '6Degree', 'Sarathi', 'Jidoka Technologies', 'ElasticRun', 'Avail Finance', 'Nivesh', 'Thingsup', 'Arthya Wealth and Investments', 'Fi', 'Kiko Live', 'TurboHire', 'The Hosteller', 'SatSure', 'Ruptok Fintech', 'VilCart', 'Dogsee Chew', 'TRDR', 'Zoomcar', 'Leap India', 'SuperBottoms', 'The Good Glamm Group', 'Mosaic Wellness', 'CloudFiles', 'The Viral Fever', 'Xpand', 'Troo Good', 'Prodo', 'Unnati', 'Lysto', 'Wakefit', 'Buyofuel', 'ElectricPe', 'Vayana Network', 'Valuationary', 'Petpooja', 'Wingreens Farms', 'Doola', 'EyeMyEye', 'Bombay Hemp Company', 'DGV', 'GuardianLink', 'Clinikk', 'Toplyne', 'Mensa', 'GENLEAP', 'Planys', 'Wonderchef', 'GoKwik', 'SalaryBox', 'Boingg', 'Better Capital', 'Tickertape', 'Zenpay Solutions', 'Disprz', 'Arbo Works', 'Inzpira', 'Defy', 'Mindhouse', 'Homversity', 'Toppersnotes', 'NoBroker.com', 'Haber', 'Recordent', 'Koparo', 'Settl', 'Park+', 'Simple Energy', 'Rentomojo', '21K School', 'Adda247', 'Loop Health', 'RENEE Cosmetics', 'Svish', 'Smartstaff', 'D’Moksha Homes', 'ANS Commerce', 'Mobileware Technologies', 'GramCover', 'Hyperface', 'Kaar Technologies', 'Kissan Pro', 'Sunstone Eduversity', 'Ozonetel', 'Pazcare', 'kWh Bikes', 'IBSFINtech', 'LeadSquared', 'Phool.co', 'Twin Health', 'Trica', 'mHealth', 'Rebel Foods', 'ProfitWheel', 'Ishitva', 'leap.club', 'ForeignAdmits', 'SALT', 'EarnWealth', 'Visit Health', 'Crater.Club', 'Hubilo', 'M2P Fintech', 'Open Financial Technologies', 'Niro', 'Wiingy', 'CarDekho', 'Melorra', 'AnKa SumMor', 'Toch.ai', 'Playto Labs', 'Fraazo', 'FloCareer', 'Nap Chief', 'AcknoLedger', 'ApplicateAI', 'VLCC Health Care', 'Duroflex', 'Aviom India', 'Onato', 'Mestastop Solutions', 'SaaS Labs', 'Devnagri', 'ConveGenius', 'Totality', 'CredAble', 'MarketWolf', 'Wondrlab', 'SUN Mobility', 'Tamasha', 'Revfin', 'Yu Foodlabs', 'MergerDomo', 'IDfy', 'ClearDekho', 'BookingJini', 'Sourcewiz', 'Tvasta', 'Kafqa Academy', 'Storia', 'Clear', 'The Indus Valley', 'Porter', 'O4S', 'Wobb', 'BASIC Home Loan', 'Gramophone', 'Healofy', 'E42', 'Spottabl', 'Shumee', 'SportZchain', 'Hypto', 'CHUPPS', 'Zenduty', 'R for Rabbit', 'Acko', 'LoveLocal', 'SupplyNote', 'Vakilsearch', 'Cloudphysician', 'Wiggles.in', 'Wallmantra', 'Aquatein', 'Mentza', 'ConnectedH', 'CredAvenue', 'Vedantu', 'Exotel', 'Cusmat', 'Homeville', 'Coinshift', 'Strip Finance', 'Kolo', 'My3DSelfie', 'EV Plugs', 'Rulezero', 'CredRight', 'Auntie Fung', 'ePayLater', 'Fittr', 'Medikabazaar', 'Nimble Growth Organics', 'Sanctum Wealth', '88academics', 'Upgame', 'Sanfe', 'PredictiVu', 'Sterling Accuris Wellness', 'Manch Technologies', 'Sochcast', 'Glamyo Health', 'CashBook', 'The Money Club', 'SuperZop', 'Zypp Electric', 'Alpha Coach', 'VRO Hospitality', 'byteXL', 'Leena AI', 'CARS24', 'Bluepad', 'Tummoc', 'Design Cafe', 'PayCardo', 'Aerchain', 'CuriousJr', 'Wow! Momo', 'LifeCell', 'ZestMoney', 'FrontRow', 'HappyCredit', 'Endimension', 'Frenzi', 'BeepKart', 'Lio', 'TravClan', 'WickedGud', 'Enercomp', 'BetterPlace', 'Medpho', 'LivQuik Technology', 'EventBeep', 'GTM Buddy', 'Gobbly', 'HexaHealth', 'Eupheus Learning', 'Easiloan', 'Anar', 'Shadez', 'Vahan', 'Tinkerly', 'Godamwale', 'Artium Academy', 'Awon GameZ', 'Ayu Health', 'BharatAgri', 'Boutique Spirit Brands', 'eShipz', 'Paytail', '4Fin', 'Atomberg Technologies', 'Genext Students', 'immunitoAI', 'GameEon Studios', 'Farmers Fresh Zone', 'Anveshan', 'OckyPocky', 'Coutloot', 'Nova Benefits', 'HomeLane', 'Lido Learning', 'Jar', 'Peppermint', 'moneyHOP', 'Skit', 'Peak', 'REVOS', 'Dezerv.', 'Habbit', 'Bikayi', 'Sugar.fit', 'Dukaan', 'Goodmylk', 'Fieldproxy', 'NeuroPixel.AI', 'Elixia Tech Solutions', 'bitsCrunch', 'Prolgae', 'Biddano', 'Geniemode', 'Neokred', 'Flipspaces', 'Fleek', 'Proeon', 'InfyU Labs', 'TechEagle', 'Voxelgrids', 'Cogos Technologies', 'Gigforce', 'Vahdam', 'WeRize']

Same company name was treated as separate identities: BYJU’S and  BYJU'S. <br>This might be due to the different apostrophies used.

........let's check!

In [75]:
# Check if they are same

"BYJU'S" ==  'BYJU’S'

False

In [76]:
# Good! Now we correct that and that's all for company_Brand

data2021['Company_Brand'] = data2021['Company_Brand'].str.replace("’", "'")

In [77]:
data2021['Company_Brand'].nunique()

1032

Good! Worked! Now, let's head to Headquarter

In [78]:
# Get summary info, number of unique values and the values of the 'HeadQuarter' column

print(data2021['HeadQuarter'].info())
print(data2021['HeadQuarter'].nunique())
print(data2021['HeadQuarter'].unique())

<class 'pandas.core.series.Series'>
Int64Index: 1190 entries, 0 to 1208
Series name: HeadQuarter
Non-Null Count  Dtype
--------------  -----
1189 non-null   object
dtypes: object(1)
memory usage: 18.6+ KB
None
70
['Bangalore' 'Mumbai' 'Gurugram' 'New Delhi' 'Hyderabad' 'Jaipur'
 'Ahmadabad' 'Chennai' None 'Small Towns, Andhra Pradesh' 'Goa'
 'Rajsamand' 'Ranchi' 'Faridabad, Haryana' 'Gujarat' 'Pune' 'Thane'
 'Computer Games' 'Cochin' 'Noida' 'Chandigarh' 'Gurgaon' 'Vadodara'
 'Food & Beverages' 'Pharmaceuticals\t#REF!' 'Gurugram\t#REF!' 'Kolkata'
 'Ahmedabad' 'Mohali' 'Haryana' 'Indore' 'Powai' 'Ghaziabad' 'Nagpur'
 'West Bengal' 'Patna' 'Samsitpur' 'Lucknow' 'Telangana' 'Silvassa'
 'Thiruvananthapuram' 'Faridabad' 'Roorkee' 'Ambernath' 'Panchkula'
 'Surat' 'Coimbatore' 'Andheri' 'Mangalore' 'Telugana' 'Bhubaneswar'
 'Kottayam' 'Beijing' 'Panaji' 'Satara' 'Orissia' 'Jodhpur' 'New York'
 'Santra' 'Mountain View, CA' 'Trivandrum' 'Jharkhand' 'Kanpur' 'Bhilwara'
 'Guwahati' 'Online Media\t#REF!' 'Kochi' 'London'
 'Information Technology & Services' 'The Nilgiris' 'Gandhinagar']

There sure have been wrong placement for 'Information Technology & Services' and  'Food & Beverages' <br>
Let's check that out!

In [79]:
# Checking .....

data2021[data2021['HeadQuarter'] == 'Food & Beverages']

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
241,MasterChow,2020.0,Food & Beverages,Hauz Khas,A ready-to-cook Asian cuisine brand,"Vidur Kataria, Sidhanth Madan",WEH Ventures,$461000,Seed

In [80]:
# Placing them correctly for MasterChow

data2021.iloc[236, 2] = 'New Delhi'
data2021.iloc[236, 3] = 'Food & Beverages'

In [81]:
# Checking .....

data2021[data2021['HeadQuarter'] == 'Food & Beverages']

Empty DataFrame
Columns: [Company_Brand, Founded, HeadQuarter, Sector, What_it_does, Founders, Investor, Amount, Stage]
Index: []

In [82]:
# Checking for Peak

data2021[data2021['HeadQuarter'] == 'Information Technology & Services']

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
1176,Peak,2014.0,Information Technology & Services,"Manchester, Greater Manchester",Peak helps the world's smartest companies put ...,Atul Sharma,SoftBank Vision Fund 2,$75000000,Series C

In [83]:
# Placing them correctly

data2021.iloc[1149, 2] = 'Manchester'
data2021.iloc[1149, 3] = 'Information Technology & Services'

data2021.at[1176, 'HeadQuarter'] = 'Manchester'
data2021.at[1176, 'Sector'] = 'Information Technology & Services'

In [84]:
# Checking ......

data2021[data2021['HeadQuarter'] == 'Information Technology & Services']

Empty DataFrame
Columns: [Company_Brand, Founded, HeadQuarter, Sector, What_it_does, Founders, Investor, Amount, Stage]
Index: []

Alright! Let's continue dealing with some anomalous rows

Deleting rows with anomalous values

In [85]:
# Function to drop anomalous rows


def drop_rows_by_column_values(dataframe, column_name, value):
    """
    Drops rows from the specified DataFrame based on a specific column value.

    Parameters:
        dataframe (pandas.DataFrame): The DataFrame to modify.
        column_name (str): The name of the column to check for the specified value.
        value: The value to match and drop rows based on the specified column.

    Returns:
        None

    Description:
        This function removes rows from the specified DataFrame where the specified column
        matches the provided value. The rows are dropped in-place, modifying the DataFrame directly.

        Parameters:
        - dataframe (pandas.DataFrame): The DataFrame to modify.
        - column_name (str): The name of the column to check for the specified value.
        - value: The value to match and drop rows based on the specified column.

        Returns:
        - None

        Example usage:
        drop_rows_by_column_value(data2021, 'Company_Brand', 'BrandXYZ')

        This example will drop all rows from the 'data2021' DataFrame where the 'Company_Brand'
        column contains the value 'BrandXYZ'.
    """
    dataframe.drop(dataframe[dataframe[column_name].isin(value)].index, inplace=True)

In [86]:
# Invoke function to drop the list of rows

drop_rows_by_column_values(data2021, 'Company_Brand', ['Little Leap', 'Godamwale', \
        'Sochcast', 'BHyve', 'Fullife Healthcare', 'MoEVing', 'AdmitKard', 'MYRE Capital'])

In [87]:
# Making sure the rows were deleted

data2021.shape

(1182, 9)

In [88]:
# Re-arrange indices for the data frame

data2021.reset_index(drop=True, inplace=True)

In [89]:
# Check for re-indexing

data2021.tail()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
1177,Gigforce,2019.0,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,$3000000,Pre-series A
1178,Vahdam,2015.0,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,$20000000,Series D
1179,Leap Finance,2019.0,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,$55000000,Series C
1180,CollegeDekho,2015.0,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",$26000000,Series B
1181,WeRize,2019.0,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",$8000000,Series A

### Dealing with the 'Founded' Col

In [90]:
# Imputing missing values

array = data2021['Founded'].values.reshape(-1,1)
imputer = SimpleImputer(strategy='most_frequent')

data2021['Founded'] = imputer.fit_transform(array)

In [91]:
data2021['Founded'].unique()

array([2019., 2015., 2012., 2021., 2014., 2018., 2016., 2020., 2010.,
       2017., 1993., 2008., 2013., 1999., 1989., 2011., 2009., 2002.,
       1994., 2006., 2000., 2007., 1978., 2003., 1998., 1991., 1984.,
       2004., 2005., 1963.])

Converting 'Founded' from float to int64

In [92]:
# Founded column converted to int

data2021['Founded'] = data2021['Founded'].astype(int)
data2021['Founded'].head()

0    2019
1    2015
2    2012
3    2015
4    2021
Name: Founded, dtype: int32

In [93]:
# Making sure the conversion was done

data2021['Founded'].dtype

dtype('int32')

In [94]:
# Get unique values

data2021['Founded'].unique()

array([2019, 2015, 2012, 2021, 2014, 2018, 2016, 2020, 2010, 2017, 1993,
       2008, 2013, 1999, 1989, 2011, 2009, 2002, 1994, 2006, 2000, 2007,
       1978, 2003, 1998, 1991, 1984, 2004, 2005, 1963])

### Cleaning the 'Amount' col

In [95]:
# Drop additional rows with anomalous values at the Amount col

drop_rows_by_column_values(data2021, 'Amount', ['Upsparks', 'JITO Angel Network, LetsVenture'])

Replacing undisclosed/$undisclosed/$Undisclosed values under the 'Amounts' Column

In [96]:
# Function to replace anomalous amount values with np.nan

def replace_values_with_nan(df, column_name, values_to_replace):
    """
    Replaces specified values in a column of a DataFrame with np.nan.

    Args:
        df (pandas.DataFrame): The DataFrame containing the column to modify.
        column_name (str): The name of the column to replace values in.
        values_to_replace (list or scalar): The value(s) to replace with np.nan. Can be a single value or a list of values.

    Returns:
        pandas.DataFrame: A modified DataFrame with the specified values replaced by np.nan.

    Example:
        # Create a sample DataFrame
        data = {
            'Column1': [1, 2, 3, 4, 5],
            'Column2': ['A', 'B', 'C', 'D', 'E'],
            'Column3': ['X', 'Y', 'Z', 'X', 'Z']
        }

        df = pd.DataFrame(data)

        # Define the column name and values to replace with np.nan
        column_name = 'Column3'
        values_to_replace = ['X', 'Z']

        # Call the replace_values_with_nan function
        df_modified = replace_values_with_nan(df, column_name, values_to_replace)

        # Print the modified DataFrame
        print(df_modified)
    """
    df[column_name] = df[column_name].replace(values_to_replace, np.nan)
    return df

In [97]:
# Invoking the function to replace the missing values with np.nan

data2021 = replace_values_with_nan(data2021, 'Amount', ['$Undisclosed', '$undisclosed', 'undisclosed', 'Undisclosed', 'None'])

# Replacing the undesired characters

data2021['Amount'] = data2021['Amount'].str.replace('[$,]', '')

In [98]:
# Converting the 'Amount' col to float

data2021['Amount'] = pd.to_numeric(data2021['Amount'])

In [99]:
# Checking....

data2021['Amount'].dtype

dtype('float64')

In [100]:
# Make scientific numbers display as normal with i decimal point

pd.set_option('display.float_format', '{:.1f}'.format)

In [101]:
# Get statistical summary of data2021

data2021.describe()

       Founded         Amount
count   1180.0         1040.0
mean    2016.6    172664159.6
std        4.5   4651133125.4
min     1963.0        10000.0
25%     2015.0      1000000.0
50%     2018.0      3700000.0
75%     2020.0     15000000.0
max     2021.0 150000000000.0

Filling missing values in the 'Amount' Col

In [102]:
# Imputing missing values

array = data2021['Amount'].values.reshape(-1,1) # simpleImputer takes 2d array as input
imputer = SimpleImputer(strategy='median')   # Chose 'median' strategy because of the presence of outliers

data2021['Amount'] = imputer.fit_transform(array)

In [103]:
# View first 5 rows of data2021

data2021.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First",1200000.0,Pre-series A
1,upGrad,2015,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management",120000000.0,None
2,Lead School,2012,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital",30000000.0,Series D
3,Bizongo,2015,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital",51000000.0,Series C
4,FypMoney,2021,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal",2000000.0,Seed

In [104]:
# Introduce a new variable, 'Year_Funded'

data2021['Year_Funded'] = 2021

In [105]:
data2021.head()  # Get first 5 rows

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,Year_Funded
0,Unbox Robotics,2019,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First",1200000.0,Pre-series A,2021
1,upGrad,2015,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management",120000000.0,None,2021
2,Lead School,2012,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital",30000000.0,Series D,2021
3,Bizongo,2015,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital",51000000.0,Series C,2021
4,FypMoney,2021,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal",2000000.0,Seed,2021

### Cleaning 'Stage' Col

Inspecting the unique values in the 'Stage' Column

In [106]:
data2021['Stage'].unique() # Get unique values of Stage column

array(['Pre-series A', None, 'Series D', 'Series C', 'Seed', 'Series B',
       'Series E', 'Pre-seed', 'Series A', 'Pre-series B', 'Debt',
       'Bridge', 'Seed+', 'Series F2', 'Series A+', 'Series G',
       'Series F', 'Series H', 'Series B3', 'PE', 'Series F1',
       'Pre-series A1', 'Early seed', 'Series D1', 'Seies A',
       'Pre-series', 'Series A2', 'Series I'], dtype=object)

Check how many records have the null value at the 'Stage' column

In [107]:
data2021['Stage'].isnull().sum()  # Get the numer of missing values in Stage

416

Oops! Pretty much! Let's take a deeper look at those records.

In [108]:
data2021[data2021['Stage'].isnull()].head() # View first 5 rows whose stage column are null

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,Year_Funded
1,upGrad,2015,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management",120000000.0,None,2021
5,Urban Company,2014,New Delhi,Home services,Urban Company (Formerly UrbanClap) is a home a...,"Abhiraj Singh Bhal, Raghav Chandra, Varun Khaitan",Vy Capital,188000000.0,None,2021
6,Comofi Medtech,2018,Bangalore,HealthTech,Comofi Medtech is a healthcare robotics startup.,Gururaj KB,"CIIE.CO, KIIT-TBI",200000.0,None,2021
8,Vitra.ai,2020,Bangalore,Tech Startup,Vitra.ai is an AI-based video translation plat...,Akash Nidhi PS,Inflexor Ventures,3700000.0,None,2021
9,Taikee,2010,Mumbai,E-commerce,"Taikee is the ISO-certified, B2B e-commerce pl...","Nidhi Ramachandran, Sachin Chhabra",None,1000000.0,None,2021

Alright! These companies are listed on cruchbase, the leading provider of private-company prospecting and research solutions. <br>
Let's see if we can get reliable data to fill-in the nulls

In [109]:
# Fill-in some nulls with their correct values

data2021.iloc[1, 8] = 'Venture - Series Unknown'
data2021.iloc[5, 8] = 'Secondary Market'
data2021.iloc[6, 8] = 'Pre-Seed'
data2021.iloc[8, 8] = 'Seed'
data2021.iloc[9, 8] = 'Venture - Series Unknown'
data2021.iloc[11, 8] = 'Pre-Seed'
data2021.iloc[13, 8] = 'Series A'
data2021.iloc[14, 8] = 'Series D'
data2021.iloc[15, 8] = 'Series E'
data2021.iloc[16, 8] = 'Series A'
data2021.iloc[24, 8] = 'Debt'
data2021.iloc[31, 8] = ' Series A'
data2021.iloc[34, 8] = 'Venture - Series Unknown'
data2021.iloc[35, 8] = 'Venture - Series Unknown'
data2021.iloc[36, 8] = 'Venture - Series Unknown'
data2021.iloc[37, 8] = 'Venture - Series Unknown'
data2021.iloc[40, 8] = 'Series A'
data2021.iloc[42, 8] = 'Seed'
data2021.iloc[46, 8] = 'Equity Crowdfunding'

Good! I could just get a few. 

Let's have a look at what the unique values are again.

In [110]:
data2021['Stage'].unique()  # Get unique values of stage column again

array(['Pre-series A', 'Venture - Series Unknown', 'Series D', 'Series C',
       'Seed', 'Secondary Market', 'Pre-Seed', 'Series A', 'Series E',
       'Series B', 'Pre-seed', 'Debt', ' Series A', None,
       'Equity Crowdfunding', 'Pre-series B', 'Bridge', 'Seed+',
       'Series F2', 'Series A+', 'Series G', 'Series F', 'Series H',
       'Series B3', 'PE', 'Series F1', 'Pre-series A1', 'Early seed',
       'Series D1', 'Seies A', 'Pre-series', 'Series A2', 'Series I'],
      dtype=object)

Ok, Let's put these values in a standard format.

In [111]:
# Function to replace or group the funding rounds

def update_value(value):
    """
    Update the given value based on predefined replacements.

    Args:
        value (str): The value to be updated.

    Returns:
        str: The updated value.
    """
    replacements = {
        r'Pre series|Early seed|Pre-series A|Pre-series A1': 'Pre-series',
        r'Seies A|Seed+|Pre-series B|Series A2': 'Series A',
        r'PE': 'Private Equity',
        r'Debt': 'Debt Financing',
        r'Seed1': 'Seed',
        r'None': 'Venture - Series Unknown',
        r'Series A+|Series B3| Series B': 'Series B',
        r'Series F2|Series F1|Series D1|Series D|Series G|Series H|Series I|Series E|Series F': 'Series C',
    }

    for pattern, replacement in replacements.items():
        value = re.sub(pattern, replacement, str(value))

    return value


data2021 = data2021.applymap(update_value)

Great! Checking........

In [112]:
# Check the unique values of the stage column

data2021['Stage'].unique()

array(['Pre-series', 'Venture - Series Unknown', 'Series C', 'Series B',
       'Secondary Market', 'Pre-Series B', 'Pre-seed', 'Debt Financing',
       ' Series B', 'Equity Crowdfunding', 'Bridge', 'Series B+',
       'Private Equity', 'Pre-series1'], dtype=object)

Ouch!  'Series B+',  'Pre-Series B' and 'Pre-series1' want to be treated diferently! I see. Let's implore another method!

In [113]:
# Replace values

data2021['Stage'].replace('Series B+', 'Series B', inplace=True)
data2021['Stage'].replace('Pre-series1', 'Pre-series', inplace=True)
data2021['Stage'].replace('Pre-Series B', 'Series A', inplace=True)
data2021['Stage'].replace(' Series B', 'Series B', inplace=True)

Nice! Let's take a look at the unique values for stage column again!

In [114]:
# Get unique valaues of the stage column again

data2021['Stage'].unique()

array(['Pre-series', 'Venture - Series Unknown', 'Series C', 'Series B',
       'Secondary Market', 'Series A', 'Pre-seed', 'Debt Financing',
       'Equity Crowdfunding', 'Bridge', 'Private Equity'], dtype=object)

Perfect!

Dealing with the Investor Column <br>

Inspecting the unique instances of the 'Investor Column'

NO anomaly spotted here, good! Let's now separate and keep first names......nooooo....wait! <br>

..before that I just saw 'http://100x.vc/' and '2000000' as an investor. Let's check that out!

In [116]:
# Get the row/rows that have 'http://100x.vc/' as investor

data2021[(data2021['Investor'] == 'http://100x.vc/')|(data2021['Investor'] == '2000000')]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,Year_Funded
59,Karnival,2015,Bangalore,SaaS startup,A SAAS platform for retailers and brands to cr...,Neeraj Tyagi,http://100x.vc/,2500000.0,Series B,2021
877,EyeMyEye,2021,Gurugram,Eyewear,"Shop the latest Eyeglasses, Sunglasses, Power ...",Ganesh Iyer,2000000,2000000.0,Pre-series,2021

Alright, let's dig deeper by clicking the link.......Ohh, I got it! The Investor is a company named '100x.vc' <br>

Making the change........

In [120]:
# Slice that value and asign '100x.vc'

data2021.at[59, 'Investor'] = '100x.vc'
data2021.at[877, 'Investor'] = 'LetsVenture'

In [121]:
# Checking..........
data2021[(data2021['Investor'] == '100x.vc')|(data2021['Investor'] == 'LetsVenture')]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,Year_Funded
59,Karnival,2015,Bangalore,SaaS startup,A SAAS platform for retailers and brands to cr...,Neeraj Tyagi,100x.vc,2500000.0,Series B,2021
877,EyeMyEye,2021,Gurugram,Eyewear,"Shop the latest Eyeglasses, Sunglasses, Power ...",Ganesh Iyer,LetsVenture,2000000.0,Pre-series,2021
941,Trica,2021,Mumbai,Equity Management,Powering private markets - A technology platfo...,Nimesh Kampani,LetsVenture,3000000.0,Series B,2021

Good! What next?............ Let's now clean by retaining only the first

In [57]:
# Splitting the names separated by ',' and keeping the first

data2021["Investor"] = data2021["Investor"].map(lambda x: str(x).split(',')[0])

In [58]:
data2021['Investor'].unique()

array(['BEENEXT', 'Unilazer Ventures', 'GSV Ventures', 'CDC Group',
       'Liberatha Kallat', 'Vy Capital', 'CIIE.CO',
       'Inflection Point Ventures', 'Inflexor Ventures',
       'Venture - Series Unknown', '9Unicorns Accelerator Fund',
       'SucSEED Indovation', 'Safe Planet Medicare', 'Impact Partners',
       'Tiger Global Management', 'Novo Tellus Capital',
       'Raintree Family Office', 'Mumbai Angels', 'Paradigm',
       'Matrix Partners India', 'Chiratae Ventures',
       'Mumbai Angels Network', 'GVFL', 'Kotak Mahindra Bank',
       'Kalaari Capital', 'NB Ventures', 'Sequoia Capital India',
       'Gaurav Munjal', 'JITO Angel Network', 'STRIVE VC',
       'Venture Catalysts', 'Jaipuria Family Office', 'Amazon',
       'Riso Capital', 'MTG Ventures', 'Qualcomm Ventures', '9Unicorns',
       'Morgan Stanley', 'Alfa Ventures', 'Stellaris Venture Partners',
       'Spanache', 'DSG Consumer Partners', 'Hindustan Media Ventures',
       'Angelbay Holdings', 'Alteria Capital', 'WaterBridge Ventures',
       'Carmignac', 'Vaibhav Domkundwar', 'Acko Technology',
       'Bertelsmann India Investments', 'Dragoneer Investment Group',
       '100x.vc', 'TPG Growth', 'Centrum Financial Services',
       'Harsha Bhogle', 'GetVantage', 'Michael & Susan Dell Foundation',
       'Marquee fintech founders', 'Falcon Edge India', 'SOSV',
       'Twitter Ventures', 'CitiusTech', 'Arena Holdings',
       'T Choithrams BVI', 'Kogta Financial India Limited',
       'SucSEED Venture Partners', 'SAIF Partners',
       'Global Founders Capital', 'JAFCO Asia', 'Y Combinator',
       'Artha Venture Fund', 'Jitendra Gupta', 'FJ Labs',
       'Indian Angel Network', 'Elevation Partners', 'Lumikai',
       'C4D Partners', 'Bertelsmann India', 'Iron Pillar', 'FMC',
       'InvestCorp', 'Unicorn India Ventures', 'Avaana Capital',
       'Punit Balan', 'Skycatcher', 'Eclear Leasing', 'First Cheque',
       'Velocity', 'Tribe Capital', 'Fireside Ventures', 'Titan Capital',
       'Info Edge Ventures', 'Accel', 'Binny Bansal', 'TradeCred',
       'UC Inclusive Credit', 'IIFL India Private Equity Fund',
       'Faering Capital', 'responsAbility Investments', 'Sanchit Agarwal',
       'CRV', 'Salesforce Ventures', 'Micelio Fund', 'IIFL Wealth',
       'Better Capital', 'IAN', 'Alpha Wave Incubation',
       'Point One Capital', 'Microsoft', 'Shell Ventures',
       'We Founder Circle', 'Saama Capital',
       'Tiger Global’s Scott Schleifer', 'Elevation Capital',
       'Sixth Sense Ventures', 'Anicut Angel Fund', 'Info Edge',
       'WestCap Group', 'Siguler Guff', 'IIFL AMC',
       'ITI Growth Opportunities', 'Amrac Investment Trust',
       'Bhavin Turakhia', 'Amara Raja Batteries',
       'India Infoline Finance', 'Venture Highway', 'Axilor',
       'Westbridge Capital', '100X.VC\ufeff', 'IIFL', 'Verlinvest',
       'Tiger Global', 'Alphabit Fund', 'Roots Ventures',
       'Nexus Venture Partners', 'SucSEED Indovation Fund',
       'Potencia Ventures', 'Evolvence Capital', 'SARA ELGI', 'Nubank',
       'ah! Ventures High Tables', 'Eight Roads Ventures', 'A91 Partners',
       'Sequoia’s Surge', 'Lead Angels', 'Accel Partners',
       'Ecosystem Ventures', 'Disrupt ADQ', 'Valar Ventures', 'Zomato',
       'Lightspeed', 'Tuscan Ventures', 'Signal Peak Ventures',
       'Evolvence', 'BlueOrchard Impact Investment Managers',
       'Steadview Capital', 'MassMutual Ventures', 'YourNest VC',
       'Accel India', 'Vijay Shekhar Sharma', 'TVS Motor',
       'IIFL Asset Management', 'Oasis Capital', 'Founders Room Capital',
       'WEH Ventures', 'Kunal Shah', 'Guild Capital', 'General Catalyst',
       'Varun Alagh', 'SoftBank Vision Fund 2', 'Jungle Ventures',
       'Marquee international institutional investors', 'Alkeon Capital',
       'Y Combinator\ufeff', 'Shrishti Sahu', 'Astra Ventures',
       'Capital A', 'Aditya Singhal', 'Pentathlon Ventures',
       'Alpha Wave Ventures II', 'KRAFTON', 'Recur Club',
       'DevX Venture Fund', 'Ajith Daneil', 'Aurum Proptech',
       'Y-Combinator', 'The Good Glamm Group', 'Invus', 'Shuru Up',
       'Ankit Mehrotra', 'Sauce.vc', '3one4 Capital', 'YCombinator',
       'Sojitz Corporation', 'Nabventures', 'Fluid Ventures',
       'Rajesh Rajendran', 'Mike Novogratz', 'Reliance Digital Health',
       'Ritu Marya Family Office.', 'Ten Innovate', 'Shark Tank India',
       'Premji Invest', 'Sequoia', 'Apis Insurtech Fund I', 'SK Tripathi',
       'Hardcastle Petrofer', 'Ocean View Investment', 'Omidyar Network',
       'ITI Growth Opportunities Fund', 'InnoVen Capital',
       'Orios Venture Partners', 'Omidyar Network India',
       'Wipro venture capital arm', 'Yuj Ventures', 'Anas Rahman Junaid',
       'Capital One', 'YourNest Venture Capital', 'Incubate Fund India',
       'Fresco Capital', 'Rohit Goutamchand',
       'Rajasthan Venture Capital Fund', 'Amplo', 'Justin Mateen',
       'View Trade Holding Corp', 'ScoopWhoop', 'Canaan Valley Capital',
       'RTP Global', 'Paragon Partners', 'EXPrivate EquityRT DOJO',
       'InCred Financial Services', 'ah! Ventures', 'Somak Ghosh', 'Wurk',
       'Plutus Wealth Management', 'Ambiga Subramanian', 'Rajan Anadan',
       'Jesse Lucas', 'IDFC Private Equity', 'Equanimity Ventures',
       'BlueOrchard Finance S A', 'Gojo & Company',
       'Pegasus Tech Ventures', 'Hitesh Oberoi', 'YES Bank',
       'Campus Fund', 'Hyperplane Venture Capital', 'Quess Corp India',
       'Sunil Kumar Singhvi',
       'India Accelerator’s Angel Investor Network', 'Shell Foundation',
       'Jimmy Singh', 'Singapore Angel Network',
       'Starfish Growth Partners', 'Hashed',
       "Zerodha's Rainmatter Capital", 'Lightbox', 'Tomorrow Capital',
       'BlackSoil Capital', 'PointOne Capital', 'Blockchain Capital',
       'Baring Private Equity Partners India', 'Prosus Ventures',
       'U.S. International Development Finance Corp', 'Binance Labs',
       'RP-Sanjiv Goenka Group', 'IvyCap Ventures', 'Zone Startups In',
       'Blue Ashva Capital', 'Ribbit Capital', 'Ecom Express',
       'Satish Grampurohit', 'Amit Singhal', 'Octahedron Capital', 'GSF',
       'Ajat Hukkoo', 'Think Investments', 'Yatra Angel Network',
       'Trishneet Arora', 'ContCentric', 'Siana Capital', 'DST Global',
       'Anthill Ventures', 'Enzia Ventures', 'Invested Development',
       'Dhianu Das', 'Hindustan Media Venture', 'Omnivore',
       'Awign Enterprises', 'Siddharth Bhaskar Shah', 'S Chand',
       'Goldman Sachs', 'growX ventures', 'Mount Judi India Growth Fund',
       'GEF Capital’s South Asia Fund', 'Sunil Sethia', 'Sequoia Capital',
       'Mechanism Capital', 'Northern Arc Capital',
       'Pearl Investment LLC', '021 Capital',
       'Kotak Investment Advisors Limited', 'VANS Group',
       'Sachin Tendulkar', 'Xentel Investments', 'Waterbridge', 'Auxano',
       'Infoedge ventures', 'Jupiter', 'Unitus Ventures', 'GIC',
       'pi Ventures', 'Northern Arc', 'Sofina Ventures SA', 'Prime VP',
       'Endiya Partners', 'Gokul Rajaram', 'Callapina Capital',
       'Khosla Ventures', 'Temasek', 'Deep Kalra', 'Capital India',
       'FirstCry', 'SAB Holdings', 'Lightspeed Venture Partners',
       'Jayanti Kanani', 'LeapFrog', 'Ananta Capital',
       'TATA Cleantech Capital', 'Aqua-Spark', 'Climate Angels Fund',
       'Entrepreneur First (EF)', 'Zephyr Peacock', 'ADM Capital',
       'SoftBank Vision Fund', '100x Entrepreneurs',
       'Healthcare veterans', 'Bank of Baroda', 'IAN Fund', 'Mirae Asset',
       'Kotak Securities', 'Klub', 'Balaji Srinivasan',
       'BASF Venture Capital GmbH', 'Rebright Partners', 'Sequoia Surge',
       'Parthiv Group', 'Krafton Inc', 'Blume Ventures',
       'Beyond Next Ventures', 'AdvantEdge Founders',
       'Griffin Gaming Partners', 'Zinnia Global', 'InfoEdge Ventures',
       'Antler India', 'Bharat Inclusion', 'Fidelity', 'Blacksoil',
       'Speciale Invest', 'Canbank Venture Capital Fund',
       'W Health Ventures', 'Anand Prakash Sharma', 'Axilor Ventures',
       'velocity.in', 'March Capital', 'Learn Capital', 'Uday Sodhi',
       'Angelist India', 'Stanford Angels and Entrepreneurs India',
       'Avon Cycles', 'HNIs', 'NewQuest Capital Partners', 'Lasons India',
       'Pankaj Chaddah', 'Paytm', 'BlackSoil', 'Saama',
       'The Chennai Angels', 'State Bank of India', 'Sanjay Baldwa',
       'InfoEdge', 'Nitin Passi', 'Stride Ventures',
       'Triodos Investment Management', 'N+1 Capital', 'Amit Singal',
       'Trifecta Capital Advisors', 'Kumar Aakash', 'Shaival Desai',
       'Aavishkaar Venture Capital', 'Tiga Investments', 'Qualgro',
       'Amit Lakhotia', 'Pravega Ventures', 'Greenoaks Capital',
       'BLinC Invest', 'Spring Marketing Capital',
       'Chaitanya Kalipatnapu', 'Roha Investment Managers',
       'TNF Ventures', 'Lok Capital', 'Nvidia Inception',
       'Marquee investors', 'Ashish Hemrajani', 'India Accelerator',
       'Roshan Abbas', 'Goat Capital', 'Blackstone Group',
       'GoAhead Ventures', 'Paradigm Shift Capital', 'Arali Ventures',
       'Anup Kumar Yama', 'iSeries B',
       'Research Innovation Incubation Design Labs',
       'GUSEC Series B Fund', 'Quadria Capital',
       'Ashwini Kakkar. 9Unicorns', 'Ashish Shah', 'Faad Network',
       'Krafton', 'Indovation Fund', 'Gunosy', 'Edge Ventures',
       'Yamaha Motors', 'Norfund', 'Siti Cable',
       'Crossbeam Venture Partners', 'Aavishkaar Capital', 'Mapmyindia',
       'Jyoti Bansal', 'Accor', 'SRI Capital', 'Addition', '1Crowd',
       'TCV', 'BanyanTree Finance Pvt. Ltd.', 'Quona Capital',
       'Ashv Finance', 'Sweta Rau', 'Rajesh Sud', 'PayU',
       'Sundi Natarajan', 'TPG Capital Asia', 'MaGEHold Pte. Ltd.',
       'BlackRock', 'Asian Development Bank', 'JSW Ventures',
       'ACPI Investments', 'RouteOne', 'India Quotient',
       'TCN International Commerce', 'Alpine Capital',
       'Bon Angels Venture Partners', 'Bain Capital', 'F-Prime Capital',
       'Hornbill Capital Advisers', 'ADB Ventures', 'Techstars',
       'Bessemer Venture Partners', 'Falcon Edge Capital',
       'Angel investors', 'Akya Ventures', 'Kayenne Ventures',
       'Kae Capital', 'Elevar Equity', 'Radiant Life Care Private Ltd',
       'Mount Judi Ventures', 'Richard Rekhy', 'GAWA Capital',
       'Eight Roads Ventures India', 'Hungama',
       'Agility Venture Partners', 'Jetty Ventures', 'Avendus',
       'YourNest', 'National Skill Development Corporation', 'Infosys',
       'Real Estate Accelerator Program (REAP)',
       'Kohlberg Kravis Roberts', 'Shireen Rangaswamy', 'Dinesh Godara',
       'Sistema Asia Capital', 'Rajesh Agarwal', 'Kallol Banerjee',
       'MyAsia VC', 'Artha India Ventures', 'GSV',
       'WorldBusiness Capital', 'Tanglin Ventures', 'Devesh Sachdev',
       'Pradeep K Jaisingh', 'Brex', 'Mark Cuban', 'Gurj Aujla',
       'Dream Sports', 'The Chatterjee Group', 'Harsh Jain',
       'Supriya Kumari', 'Pravesh Mehta', 'Gaurav Gupta', 'Induslaw',
       'Geekster', 'Manish Subramaniam', 'Eaglewings Ventures',
       'Appit Simple Infotek', 'Ramakant Sharma', 'Keiretsu Forum',
       'Lightspeed India Partners', 'Avataar Venture Partners',
       'Raghav Kapur', 'GSF Accelerator', 'Rishi Kumar Bagla',
       'Glade Brook Capital', 'Capital Group', 'Dinesh Agarwal',
       'Arcilla', 'SUNiCON Ventures', 'Baring Private Equity India',
       'Manuvel Malabar Jewellers', 'SternAegis Ventures',
       'Warburg Pincus\ufeff', 'Akash Prakash', 'OAKS Asset Management',
       'Incofin', 'SIG', 'Ashish Jain', 'Aroa Ventures', 'Investcorp',
       '2000000', 'Riteesh Mohan Bakshi', 'Sequoia Capital ',
       'Alpha Wave Ventures', 'Vivek Vaidya', 'Kieretsu Forum',
       'Smallcase', 'The StarupLab', 'Dallas Venture Capital', 'Raj Nair',
       'General Atlantic', 'Ascent Capital',
       'Family Office of Kantamaneni', 'Saama Capital\ufeff',
       'Falcon Edge', 'Abu Dhabi Growth Fund', 'Ronnie Screwvala',
       'WestBridge Capital', 'Elevation', 'Nueva', 'Apoorva Sharma',
       'Kvanto Payment Services', 'Oxshott Capital Partners',
       'Lightrock India', 'EKKI', 'Stakeboat Capital',
       'Coinbase Ventures', 'Let’s Venture',
       'International Finance Corporation', 'Alia Bhatt', 'LetsVenture',
       'Qatar Investment Authority', 'Netcore Cloud', 'Petronas Ventures',
       'Solana', 'Auxano Capital', 'Prashant Pansare',
       'Docprime Technologies', 'LC Nueva AIF', 'Nitish Mittersain',
       'Republic Crypto', 'Data Point Capital', 'Momentum 6',
       'Norwest Venture Partners', 'Sabre Partners', 'Vertex Ventures',
       'Base 10 Partners', 'enture Catalyst', 'BAce Capital',
       'Leo Capital', 'Plutus Wealth', 'Anil Thadani', 'Pi Ventures LLP',
       'Vitol', 'Ruchirans Jaipuria', 'Manish Choksi', 'Nadir B Godrej',
       'Celesta Capital', 'TransUnion', 'Blume',
       'Habitat for Humanity International', 'Kora Capital',
       'Iconiq Growth', 'Rukam Capital', 'MAS Financial Services',
       'Rocketship.vc', 'Alok Kohli', 'Z3Partners', 'Pavestone Ventures',
       'Sofina', 'Dia Mirza', 'Pritt Investment Partners', 'Darq Capital',
       'StartupXseed Ventures', 'Xponentia Capital Partners',
       'Vulcan Capital', 'InCorp India', 'Oikocredit', 'Kedaara',
       'Moore Strategic Ventures', 'ABC World Asia',
       'Prime Securities Limited', 'Old Fashion Research', 'NEVF',
       'The Treasury', 'Ramp', 'India Angel Network', 'Responsibility',
       'Dream Capital', 'Lee Fixel’s venture capital firm',
       'The Xander Group', 'Aarin Capital', 'James Milner',
       'Kunal Sarkar', 'Morgan Stanley Private Equity Asia', 'JAM',
       'Incofin’s India Progress Fund', 'Jani Ventures INC',
       'CreedCap Asia Advisors', 'Joseph Joy', 'Trifecta Capital',
       'Vineet Singh', 'MaGEHold', 'Season Two Ventures',
       'Tree Line Investment Management', 'Orbimed Asia Partners',
       'Zip Co', 'TheVentures', 'Cygnus Medicare Group', 'M2P Fintech',
       'SucSEED  Indovation Fund', 'Legatum Capital', 'Navneet Education',
       'Sonu Nigam', 'Aditya Duggar', 'IIFL\ufeff',
       'Invesco Developing Markets Fund', 'Cholamandalam',
       'Curesense Therapeutics', 'Ka Enterprises', 'Sujeet Kumar',
       'Ameba Capital', 'Susquehanna International Group', 'Ashok Goyal',
       'Cure.fit', 'HOF Capital', 'Jinisha Sharma',
       'Arvind Venugopal Nair', 'Covalent', 'Vijayan', 'Rachit Poddar',
       'Virenxia Group', 'Prashasta Seth', 'Zoho', 'Transworld Group',
       'Owl Ventures', 'Winter Capital'], dtype=object)

Done!.............let's check further for missing values

In [59]:
# Get the number of null values in the investor column

data2021['Investor'].isnull().sum()

0

Done!

Moving to the Sector column

In [60]:
data2021['Sector'].head(10)

0        AI startup
1            EdTech
2            EdTech
3    B2B E-commerce
4           FinTech
5     Home services
6        HealthTech
7        HealthTech
8      Tech Startup
9        E-commerce
Name: Sector, dtype: object